.fondo {
    background-color: #B1D3EC;
    background-image: url('../../assets/intro.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 800px) { 
	.fondo { 
		background-image: url('../../assets/introphone.svg');
    background-repeat: no-repeat;
    background-size: cover; 
	}   
}

.logo {
    background-image: url('../../assets/play.png');
    background-size: 100vh;
}