<%- include('../../components/open.ejs'); %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"
/>
<link rel="stylesheet" href="table.css" />
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"
></script>
<div class="px-80 py-20">
  <div id="example" class="hot"></div>
</div>

<script>
  const container = document.querySelector("#example");

  const hot = new Handsontable(container, {
    data: [
      ["", "Tesla", "Volvo", "Toyota", "Ford"],
      ["2019", 10, 11, 12, 13],
      ["2020", 20, 11, 14, 13],
      ["2021", 30, 15, 12, 13],
    ],
    rowHeaders: true,
    colHeaders: true,
    width: "auto",
    height: "auto",
    colWidths: [50, 100, 200, 400],
    licenseKey: "non-commercial-and-evaluation", // for non-commercial use only,
  });
</script>

<%- include('../../components/close.ejs'); %>
