<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
</head>
<body>
  <%- include('../components/nav.ejs'); %>
    <main class="h-screen w-full flex flex-col justify-center items-center bg-[#1A2238]">
      <h1 class="text-9xl font-extrabold text-white tracking-widest">404</h1>
      <div class="bg-[#FF6A3D] px-2 text-sm rounded rotate-12 absolute">
        Pagina no Encontrada
      </div>
      <button class="mt-5">
          <a
            class="relative inline-block text-sm font-medium text-[#FF6A3D] group active:text-orange-500 focus:outline-none focus:ring"
          >
            <span
              class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-[#FF6A3D] group-hover:translate-y-0 group-hover:translate-x-0"
            ></span>
            <span class="relative block px-8 py-3 bg-[#1A2238] border border-current">
              <p> Redireccionando en ...<span id="msg">5</span></p>
            </span>
          </a>
        </button>
    </main>
    <div id="mydiv" data-domain=<%= domain %>></div>
    <p> <script>
        var redirect = document.getElementById('mydiv').dataset.domain;
        let msg = document.getElementById('msg')
        let count = 5
        msg.innerHTML = count
      var interval = setInterval(() => {
        console.log(count)
          count = count - 1
          msg.innerHTML = count
        if (count <= 0){
          clearInterval(interval)
            window.location.href = redirect
        }
      }, 1000);

    </script></p>
</body>
</html>