<%- include('../components/open.ejs'); %>

<section id='Config' class='h-full '>
        <div class="xl:m-24 justify-center content-center align-middle rounded-2xl bg-black/25 backdrop-blur-lg border-4 border-stone-50">
                <div class="justify-center px-4 sm:px-0">
                  <h3 class="ml-12 mt-12 justify-center text-base font-semibold leading-7 text-white">Configuracion de Usuario</h3>
                  <p class="ml-12 mt-1 max-w-2xl text-sm leading-6 text-white">Bienvenido, Pepito</p>
                </div>
                <form action="/admin/update?_method=PUT" method="post">
                <div class="xl:m-12 mt-6 border-t border-gray-100">
                  <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <p class="text-sm font-bold leading-6 text-white">Nombre de usuario</p>
                      <p class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">Margot Foster</p>
                      <input id="usernameField" type="hidden" name="username">
                     
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <p class="text-sm font-bold leading-6 text-white">Email</p>
                      <p class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">margotfoster@example.com</p>
                      <input id="emailField" type="hidden" name="email">
                      
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <p class="text-sm font-bold leading-6 text-white">Contraseña</p>
                      <p class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">-----</p>
                      
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <p class="text-sm font-bold leading-6 text-white">Contraseña Nueva</p>
                      <p class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">--------</p>
                      <input id="newPasswordField" type="hidden" name="newPassword">
                      
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <p class="text-sm font-bold leading-6 text-white">Confirmar Contraseña Nueva</p>
                        <p class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">---------</p>
                        <input id="confirmPasswordField" type="hidden" name="confirmPassword">
                        
                      </div>
                  </dl>
                </div>
                <button type="submit" className="inline-flex items-center justify-center px-2 py-1 text-sm font-medium text-center text-white backdrop-blur-sm bg-transparent rounded-lg hover:duration-700">
                        Guardar
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
               </button>
              </form>
              </div>
                  </section>

  <%- include('../components/close.ejs'); %>