<%- include('../components/open.ejs'); %>
<div class=" border-black text-center py-8">
    <h2 class="font-semibold text-2xl">
            Lista de Post hola
    </h2>
  </div>
  <%- include('../components/close.ejs'); %>