<%- include('../components/open.ejs'); %>
    <div class="m-0 grid h-[90vh] place-content-center">
        <div class="absolute outline outline-4 outline-offset-0 border-[15px] border-[#F2E53E] bg-[#81C3E3] rounded-full h-80 w-80 left-[38%] top-[32%]">
        </div>
        <span class="z-10 text-7xl font-outline-2 text-[#DF588D] text-center font-bold font-sans border-text">Bienvenido <br> al Panel de <br> Administrador</span>
    </div>
    <style>
        .border-text {
            -webkit-text-stroke: 2px black;
          }
    </style>
<%- include('../components/close.ejs'); %>

