<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('../components/nav.ejs'); %>
    </header>
    <main>

    </main>
    <footer>
        <%- include('../components/footer.ejs'); %>
    </footer>
</body>
</html>