<%- include('../components/open.ejs'); %>
    <div class="m-0 grid h-[90vh] place-content-center">
        <div class="absolute border-8 border-[#F2E53E] bg-[#7ABBD9] rounded-full h-80 w-80 left-[38%] top-[32%]">
        </div>
        <span class="z-10 text-7xl font-outline-2 text-[#DF588D] text-center font-bold font-sans">Bienvenido <br> al Panel de <br> Administrador</span>
    </div>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              animation: {
                'pulse-slow': 'pulse 3s cubic-bezier(0.5, 0, 0.9, 0.9) infinite',
              }
            }
          }
        }
    </script>
<%- include('../components/close.ejs'); %>

