<%- include('../components/open.ejs'); %>
    <div class="m-0 grid h-[100vh] place-content-center">
        <span class="z-10 sm:text-7xl text-5xl font-outline-2 text-[#FADCDF] text-center font-bold font-welcome border-text">Bienvenido <br> al Panel de <br> Administrador</span>
    </div>

    <style>
        .border-text {
            -webkit-text-stroke: 0.01px black;
          }
        .font-welcome{
            font-family:'Ubuntu', sans-serif;
        }
    </style>
<%- include('../components/close.ejs'); %>

