<%- include('../../components/open.ejs'); %>

    <form
    id="spreadsheetform"
    class=""
    method="post"
    action="/spreadsheets/"
  >
  <label for="title"> Titulo </label>
  <input name="title" type="text">
  <button type="submit">
      crear planilla

  </button>
</form>

<%- include('../../components/close.ejs'); %>