body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: #0c0c0c;
  background-color: #ffffff;
}
.play-background {
  background-image:  url('/img/introNoLogo.svg'); 
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 800px) { 
	.play-background {   
		background-image: url('/img/fondophone.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;
	}   
}

.play-nav {
  position: sticky;
  width: 100%;
  height: 10vh;
  left: 0px;
  top: 0px;

  display: flex;
  justify-content: space-between;

  background: linear-gradient(90deg, #F857A6 0%, #FF5858 100%);
}

.card-background-opacity {
  background: rgb(238,174,202);
  background: linear-gradient(80deg, rgba(175,210,251,1) 0%, rgba(238,174,202,1) 100%);
  opacity: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
}
