body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: #0c0c0c;
  background-color: #ffffff;
}
.play-background {
  background-color: #FFEF98;
  background-image: url('/img/play-logo-bg.png'), url('/img/Fondo-16-9.svg');
  background-size: 25%, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center,center center;
}

.play-nav {
  position: sticky;
width: 100%;
height: 10vh;
left: 0px;
top: 0px;

display: flex;
justify-content: space-between;

background: linear-gradient(90deg, #F857A6 0%, #FF5858 100%);
}

.card-background-opacity {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(175,210,251,1) 100%);
  opacity: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
}
