<%- include('../../components/open.ejs'); %>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 m-5 sm:m-10 md:m-20">
   <% data.forEach(function(image){ %>
    <div class="relative bg-white rounded-lg flex flex-col items-center justify-center">
      <img class="h-auto max-w-full rounded-lg" src="/img/<%= image.filename %>" alt="">
      <button class="absolute top-0 left-0" onclick="ajaxFunction('<%- image.id %>')">Delete</button>
    </div>
   <% }); %>
   </div>
<script>
  async function ajaxFunction(ImageId) {
    if (!confirm('confirm')){
      return ;
    }
    await $.ajax({
      url: `/images/${ImageId}`,
      type: 'DELETE',
      success: (data)=>{
        console.log(data)
        location.reload()
      },
      error: (error)=>{
        console.log(error)
      }
    })
  }
</script>
<%- include('../../components/close.ejs'); %>