<%- include('../../components/open.ejs'); %>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 m-5 sm:m-10 md:m-20">
   <% data.forEach(function(image){ %>
    <div class="grid -translate-y-2 -translate-x-2 bg-white bg-opacity-50 rounded-lg">
      <div class="flex relative hover:translate-x-2 w-full hover:translate-y-2 bg-white rounded-lg flex-col items-center justify-center">
        <img class="h-auto bg-black border-4 border-white max-w-full rounded-lg" src="/img/<%= image.filename %>" alt="">
        <button class="p-1 m-4 border rounded-lg bg-red-400" onclick="ajaxFunction('<%- image.id %>')">Borrar</button>
      </div>
    </div>
   <% }); %>
   </div>
<script>
  async function ajaxFunction(ImageId) {
    if (!confirm('confirm')){
      return ;
    }
    await $.ajax({
      url: `/images/${ImageId}`,
      type: 'DELETE',
      success: (data)=>{
        console.log(data)
        location.reload()
      },
      error: (error)=>{
        console.log(error)
      }
    })
  }
</script>
<%- include('../../components/close.ejs'); %>