@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container{
 z-index: 10;
}

.zindex{
  z-index: 30;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fondo Responsive */
.paint {

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(./assets/fondo2.svg); 
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) { 
	.paint {   
		background-image: url(./assets/phone.svg );
    background-repeat: no-repeat;
    background-size: cover; 
	}   
}

/* Puzzle */
.puzzle {
  background-image: url('./assets/puzzles.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  width: 80%;
  background-size: contain;
}

@media only screen and (max-width: 1000px) { 
	.puzzle { 
		background-image: none;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 80%;
	}   
}

@media only screen and (max-width: 800px) { 
	.puzzle { 
		background-image: none;
    background-repeat: no-repeat;
    background-size: cover; 
	}   
}



/* Footer Responsive */
.footer {
  background-color: transparent;
  background-image: url('./assets/footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) { 
	.footer { 
		background-image: url(./assets/footeres.svg );
    background-repeat: no-repeat;
    background-size: cover; 
	}   
}
